extends layout

block content

  h1.page_heading Admins

  ul.users-list
   - each user in admins
    li  User Id: #{user.id}
    li  User Name: #{user.name}
    li  User Role: #{user.role}
    hr(style="width:150px; float:left;")
    br
