doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1.title Welcome to Navaneetha Homeo Hospital
    ul.navigation
      li
        a(href='/') Home
      li
        a(href='/about') About
      li 
        a(href='/departments') Depatments
      li 
        a(href='/users') Users
      li 
        a(href='/doctors') Doctors
      li 
        a(href='/managers') Managers
      li 
        a(href='/admins') Admins
      li 
        a(href='/contact') Contact-Us
    block content
